{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fanclub Lokomotiv Plovdiv</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/home.css' %}">
</head>
<body style="background-color: grey; margin: 0; background-image: url('/static/images/background.jpg')">
    <div class="grid-container">

        <section class="advertising">
            Място
            <br><br>
            за
            <br><br>
            реклама
        </section>

        <div class="content">
            <div class="articles">
                <article>
                    <a href="#" style="text-decoration: none; color:whitesmoke">
                    <h3 style="font-size: 35px; margin: 0px;">Аян Садъков</h3>
                    <img src="/static/images/sadykov.jpg" alt="cards" style="min-height: 350px; max-height:350px; width: 100%;box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quia nihil doloribus minus est veniam saepe aspernatur blanditiis, cum consequuntur? Repellendus inventore deserunt molestiae minus. Necessitatibus qui ipsam quo voluptatum.
                    Expedita et excepturi, voluptate, similique est dignissimos a consequatur corporis consectetur sapiente totam quisquam voluptas omnis ab adipisci maiores cupiditate rerum fuga quas delectus odit illo distinctio assumenda non. Blanditiis.
                    Praesentium soluta repellat aspernatur cumque pariatur ducimus aliquid explicabo sed ipsum ex aut nam necessitatibus, quo magnam optio. Ex iusto deleniti repudiandae aspernatur iure atque facilis sequi minima asperiores repellat.
                    </p>
                    </a>
                </article>
            </div>

            <div class="articles-2">
                <article>
                    <a href="#" style="text-decoration: none; color: whitesmoke;">
                    <h3 style="font-size: 35px; margin: 0px; ">Финал Локо Пловдив</h3>
                    <img src="/static/images/final.jpg" alt="cards" style="min-height: 350px; width: 100%;box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quia nihil doloribus minus est veniam saepe aspernatur blanditiis, cum consequuntur? Repellendus inventore deserunt molestiae minus. Necessitatibus qui ipsam quo voluptatum.
                    Expedita et excepturi, voluptate, similique est dignissimos a consequatur corporis consectetur sapiente totam quisquam voluptas omnis ab adipisci maiores cupiditate rerum fuga quas delectus odit illo distinctio assumenda non. Blanditiis.
                    Praesentium soluta repellat aspernatur cumque pariatur ducimus aliquid explicabo sed ipsum ex aut nam necessitatibus, quo magnam optio. Ex iusto deleniti repudiandae aspernatur iure atque facilis sequi minima asperiores repellat.
                    </p>
                    </a>
                </article>
            </div>


            <div class="articles-2">
                <article>
                    <a href="#" style="text-decoration: none; color: whitesmoke;">
                    <h3 style="font-size: 35px; margin: 0px;">Черно-бяла Коледа</h3>
                    <img src="/static/images/christmas.jpg" alt="cards" style="min-height: 350px; width: 100%;box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quia nihil doloribus minus est veniam saepe aspernatur blanditiis, cum consequuntur? Repellendus inventore deserunt molestiae minus. Necessitatibus qui ipsam quo voluptatum.
                    Expedita et excepturi, voluptate, similique est dignissimos a consequatur corporis consectetur sapiente totam quisquam voluptas omnis ab adipisci maiores cupiditate rerum fuga quas delectus odit illo distinctio assumenda non. Blanditiis.
                    Praesentium soluta repellat aspernatur cumque pariatur ducimus aliquid explicabo sed ipsum ex aut nam necessitatibus, quo magnam optio. Ex iusto deleniti repudiandae aspernatur iure atque facilis sequi minima asperiores repellat.
                    </p>
                    </a>
                </article>
            </div>

        </div>

    </div>

</body>
</html>